{% extends "base.html.twig" %}
{% block body %}

    <div id="wedding-title">
        <h1 id="bigfont"><b>{{ wedding.brideName }} + {{ wedding.groomName }}</b></h1>
        <h2 id="middlefont"> {{ wedding.weddingDate|date('d.m.Y') }} • {{ wedding.city }}</h2>
        <h2 id="middlefont"> Pobieramy się za {{ days }} dni!</h2>

    </div>

{% endblock %}