{% extends "base.html.twig" %}
{% block body %}

    <div class="full-width" style="margin: auto; display: table">
        <div class="w3-container w3-round" style="background-color: mediumaquamarine">
            <h1 align="center" class="middlefont">GDZIE I KIEDY</h1>
        </div>
        <br>
        <div align="center">
            <h2 class="middlefont"><i class="fa fa-calendar"></i> {{ wedding.weddingDate|date('d.m.Y H:i') }}</h2>
        </div>
        <div align="center">
            <div id="line">
                <h2 class="middlefont">&#9962; CEREMONIA</h2>
                <h2 class="middlefont">{{ wedding.churchName }}</h2>
                <h2 class="middlefont">{{ wedding.churchAddress }}</h2>
            </div>
            <div class="verticalLine" id="line">
                <h2 class="middlefont"><i class="fa fa-glass"></i> PRZYJĘCIE</h2>
                <h2 class="middlefont">{{ wedding.venueName }}</h2>
                <h2 class="middlefont">{{ wedding.venueAddress }}</h2>
            </div>
        </div>
    </div>

{% endblock %}