{% extends "base.html.twig" %}

{% block title %} {{ 'RSVP' }} {% endblock %}

{% block body %}

    <div class="container" style="margin: auto; display: table; padding: 5px">
        <form action="/rsvp/{{ invitation.id }}" method="POST" enctype="multipart/form-data">
        {% for guest in invitation.guests %}
            <div id="middlefont" class="w3-panel w3-round" style=" background-color: mediumaquamarine; width: 320px; float: left">
            <p align="center">
           <b>{{ guest.name }} {{ guest.surname }}</b>
            </p>
            <p>
                Odpowiedź:
                <select id="sfont" name="{{ guest.id }}-answer">
                    <option value=1>Oczywiście, że będę!</option>
                    <option value=0>Niestety nie dam rady przyjść...</option>
                </select>
            </p>
            <p>
                Opcje dodatkowe:<br>
                <input type="checkbox" name="{{ guest.id }}-hotel" value=1>Zakwaterowanie<br>
                <input type="checkbox" name="{{ guest.id }}-bus" value=1>Transport
            </p>

            {% if guest.isSingle == 1 %}
                <input type="checkbox" name="add_guest" value=1>Dodaj osobę towarzyszącą<br>
                </div>
            <div id="middlefont" class="w3-panel w3-round" style=" background-color: mediumaquamarine; width: 320px; float: left">
                <p align="center">
                    <b>Osoba towarzysząca</b>
                </p>
                Imię:
                <input type="text" name="date_name"><br>
                Nazwisko:
                <input type="text" name="date_surname"><br>
                e-mail(opcjonalnie):
                <input type="text" name="date_email">
                <p>
                    Opcje dodatkowe:<br>
                    <input type="checkbox" name="x-hotel" value=1>Zakwaterowanie<br>
                    <input type="checkbox" name="x-bus" value=1>Transport
                </p>
            </div>
            {% endif %}
        {% endfor %}
            <p align="center">
                <input type="submit" name="update" value="RSVP" style="font-weight: bold">
            </p>
        </form>
    </div>

{% endblock %}