{% extends "admin.html.twig" %}
{% block body %}
    <article class="middlefont">
        <div class="container" style="float: left;  padding: 5px">
            <h1 align="center" class="w3-round" style="background-color: mediumaquamarine">Wszystkie zaproszenia
                - {{ invitations|length }}</h1>
            <table>
                <tr>
                    <th style="width: 200px">Numer</th>
                    <th style="width: 200px">Kod</th>
                </tr>
                {% for invitation in invitations %}
                    <tr>
                        <td>{{ invitation.id }}</td>
                        <td> {{ invitation.code }}</td>
                        <td id="chosen"><i class="fa fa-user"></i></td>
                        <td class="delete"><a style="color: black"
                                              href="{{ path('delete_invite', {'id': invitation.id }) }}"><span> <i
                                            class="fa fa-times"></i> </span></a></td>
                    </tr>
                    <tr id="hidden">
                        <td style="background: #eee; width: 212px">
                    {% for person in people %}

                        {% if person.invitation is sameas(invitation) %}

                                {{ person.name }} {{ person.surname }} <br>

                        {% endif %}
                    {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="w3-container w3-round" style="float: right;background-color: mediumaquamarine">
            <h3>Stwórz nowe zaproszenie</h3>
            <form action="#" method="POST" enctype="multipart/form-data">
                <p>
                    Dodaj gości lub stwórz puste:
                    <br>
                    {% for guest in guests %}
                        <input type="checkbox" name="guest_list[]"
                               value="{{ guest.id }}"> {{ guest.name }} {{ guest.surname }} <br>
                    {% endfor %}
                </p>
                <p>
                    <input id="font" type="submit" name="check" value="Dodaj">
                </p>
            </form>
        </div>
    </article>

{% endblock %}