{% extends "admin.html.twig" %}
{% block body %}
    <article>
        {#<div style="float: left">#}
            {#<h3>TO DO LIST</h3>#}
            {#{% for task in tasks %}#}
                {#<p>#}
                    {#Name: {{ task.task }}#}

                {#{% if task.deadline is not null %}#}
                    {#deadline: {{ task.deadline|date('d M Y') }}#}
                    {#{% endif %}#}
                    {#Is done: {{ task.isDone }}#}
                {#</p>#}
            {#{% endfor %}#}
        {#</div>#}
        {#<div style="float: right">#}
            {#<h3>Add new task</h3>#}
            {#<form action="/admin/list" method="POST" enctype="multipart/form-data">#}
                {#<p>#}
                    {#Task: <input type="text" name="task"><br>#}
                    {#Deadline: <input name="deadline" type="text" id="datepicker"><br>#}
                {#</p>#}
                {#<p>#}
                    {#<input type="submit" name="add" value="Add">#}
                {#</p>#}
            {#</form>#}
        {#</div>#}

        <div id="myDIV" class="header">
            <h2>Lista rzeczy do zrobienia przed ślubem</h2>
            <input class="todo" type="text" id="myInput" placeholder="Nazwa...">
            <input class="todo" name="deadline" type="text" id="datepicker" placeholder="Do kiedy">
            <span onclick="newElement()" class="addBtn">Dodaj</span>
        </div>
<br>
        <ul class="todo" id="myUL">
            {% for task in tasks %}
                <li class="todo"> {{ task.task }} - {{ task.deadline|date('d.m.Y') }}</li>
                {% endfor %}
            {#<li>Hit the gym</li>#}
            {#<li class="checked">Pay bills</li>#}
            {#<li>Meet George</li>#}
            {#<li>Buy eggs</li>#}
            {#<li>Read a book</li>#}
            {#<li>Organize office</li>#}
        </ul>

    </article>

{% endblock %}