{% extends "admin.html.twig" %}
{% block body %}
    <article class="middlefont">
        <div class="container" style="float: left;  padding: 5px">
            <h1 align="center" class="w3-round" style="background-color: mediumaquamarine">Wszystkie prezenty
                - {{ presents|length }}</h1>
            <table>
                <tr>
                    <th style="width: 300px">Nazwa</th>
                    <th style="width: 100px">Cena</th>
                    <th style="width: 80px">Link</th>
                    <th style="width: 100px">Wybrany</th>
                </tr>
                {% for present in presents %}
                    <tr>
                        <td>{{ present.name }}</td>
                        <td>{{ present.price }}</td>
                        <td><a target="_blank" href="{{ present.link }}">Link</a></td>

                        {% if present.invitation is empty %}
                            <td style="color: red">Nie</td>
                        {% else %}
                            <td style="color: green">Tak</td>
                        {% endif %}
                        {% if present.invitation is empty %}
                            <td class="delete"><a style="color: black"
                                                  href="{{ path('delete_present', {'id': present.id }) }}"><span> <i
                                                class="fa fa-times"></i> </span></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="w3-container w3-round" style="float: right;background-color: mediumaquamarine">
            <h3>Dodaj nowy prezent</h3>
            <form action="#" method="POST" enctype="multipart/form-data">
                <p>
                    Nazwa: <input type="text" name="name"><br>
                    Cena: <input type="number" min="1" step="any" name="price"><br>
                    Link: <input type="url" name="link"><br>
                </p>
                <p>
                    <input type="submit" name="add" value="Dodaj">
                </p>
            </form>
        </div>
    </article>

{% endblock %}